#home .picture.one {
  background-image: url('../images/main_page_one.jpg');
}

#home .picture.two {
  background-image: url('../images/main_page_two.jpg');
}

#home .picture.three {
  background-image: url('../images/main_page_three.jpg');
}

#home .picture.four {
  background-image: url('../images/main_page_four.jpg');
}

#elementary-education .picture.one {
  background-image: url('../images/elementary_page_one.jpg');
}

#elementary-education .picture.two {
  background-image: url('../images/elementary_page_two.jpg');
}

#elementary-education .picture.three {
  background-image: url('../images/elementary_page_three.jpg');
}

#elementary-education .picture.four {
  background-image: url('../images/elementary_page_four.jpg');
}

#kindergarten-education .picture.one {
  background-image: url('../images/kindergarten_page_one.jpg');
}

#kindergarten-education .picture.two {
  background-image: url('../images/kindergarten_page_two.jpg');
}

#kindergarten-education .picture.three {
  background-image: url('../images/kindergarten_page_three.jpg');
}

#kindergarten-education .picture.four {
  background-image: url('../images/kindergarten_page_four.jpg');
}

#teaching-english .picture.one {
  background-image: url('../images/english_page_one.jpg');
}

#teaching-english .picture.two {
  background-image: url('../images/english_page_two.jpg');
}

#teaching-english .picture.three {
  background-image: url('../images/english_page_three.jpg');
}

#teaching-english .picture.four {
  background-image: url('../images/english_page_four.jpg');
}

#pedagogics .picture.one {
  background-image: url('../images/pedagogics_page_one.jpg');
}

#pedagogics .picture.two {
  background-image: url('../images/pedagogics_page_two.jpg');
}

#pedagogics .picture.three {
  background-image: url('../images/pedagogics_page_three.jpg');
}

#pedagogics .picture.four {
  background-image: url('../images/pedagogics_page_four.jpg');
}

#psychology .picture.one {
  background-image: url('../images/psychology_page_one.jpg');
}

#psychology .picture.two {
  background-image: url('../images/psychology_page_two.jpg');
}

#psychology .picture.three {
  background-image: url('../images/psychology_page_three.jpg');
}

#psychology .picture.four {
  background-image: url('../images/psychology_page_four.jpg');
}
